/* AMENITIES */
section#amenities
  background-color: $secondary-color

  .data

    .pros
      display: flex
      justify-content: center
      flex-wrap: wrap
      row-gap: 30px
      padding: 60px 0
      overflow-x: hidden

      +md
        flex-direction: flex
        flex-wrap: nowrap
        row-gap: 0
        padding: 60px 0 30px

      .pro
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        width: 50%

        &:first-of-type
          width: 100%

          +md
            width: 20%

        +md
          width: 20%
          justify-content: flex-start

        i
          width: 55px
          height: 55px

          +md
            width: 60px
            height: 60px

          +lg
            width: 70px
            height: 70px

          &.pool-deck-solarium
            background-image: url(../../../src/assets/icons/icon-pool-deck-solarium.svg)

          &.grill
            background-image: url(../../../src/assets/icons/icon-grill.svg)

          &.green-terrace
            background-image: url(../../../src/assets/icons/icon-green-terrace.svg)

          &.laundry
            background-image: url(../../../src/assets/icons/icon-laundry.svg)
            width: 35px

            +md
              width: 40px

            +lg
              width: 50px

          &.bike-area
            background-image: url(../../../src/assets/icons/icon-bike-area.svg)

        .divider
          margin-bottom: 10px

          +md
            margin-bottom: 0

          .line
            position: relative
            width: 500px
            height: 1px
            background-color: $accent-color
            margin: 20px 0 25px

            +lg
              height: 2px

            &::before,
            &::after
              content: ""
              position: absolute
              width: 15px
              height: 15px
              background-color: $accent-color
              border-radius: 50%
              top: -7px
              left: 50%
              transform: translateX(-50%)

        span
          font-family: 'Recoleta'
          text-align: center
          font-size: .9rem

          +lg
            font-size: 1rem

  .visual
    background-color: $secondary-color

    +md
      padding: 0 60px 70px