/* FOOTER */
footer
  background-color: $accent-color
  color: $primary-color
  padding: 70px 0 35px
  display: flex
  flex-direction: column
  justify-content: space-between

  .logo
    background-image: url(../../../src/assets/icons/logo.svg)
    background-size: cover
    width: 215px
    height: 65px
    display: block
    margin: 0 auto 70px

  a.address
    display: block
    text-align: center

  a.ig > img
    display: block
    margin: 30px auto 60px

  .copyrights
    font-size: .7rem
    text-align: center
