/* GLOBALS */
*
  font-family: 'Acherus Grotesque'
  font-size: 1rem

body
  position: relative
  overflow-x: hidden

a
  color: $dark-color
  text-decoration: none

  &:hover,
  &:focus,
  &:visited
    color: $dark-color
    text-decoration: none

  &.wa
    background-image: url(../../../src/assets/icons/icon-wa.svg)
    width: 60px
    height: 60px
    position: fixed
    right: 15px
    bottom: 15px
    transition: .1s ease-in

    &:hover,
    &:focus
      transform: scale(1.1)

    +md
      right: 20px
      bottom: 20px

.icon
  display: block
  width: 26px
  height: 26px
  background-size: contain
  background-repeat: no-repeat
  background-position: center

  +md
    width: 30px
    height: 30px

button,
.btn
  display: inline-block
  background-color: $accent-color
  color: $light-color
  padding: 6px 60px 10px
  border: none
  border-radius: 20px
  margin: 0 auto

/* TODO remove until header is done */
h1
  display: none

section

  .data
    padding: 70px 45px 0

    +md
      padding: 70px 60px 0

    +lg
      padding: 100px 60px 60px

    +xl
      padding: 100px 0 60px

    h2
      color: $accent-color
      font-size: .9rem
      text-align: center
      margin-bottom: 35px

      +md
        font-size: 1.2rem
        margin-bottom: 60px

    h3
      font-family: 'Recoleta'
      font-size: 2.2rem
      text-align: center
      margin: 0 auto 15px

      +md
        font-size: 2.5rem
        margin: 0 auto 20px

      +lg
        font-size: 3.5rem

    h4
      text-align: center
      font-size: 1rem

      +md
        font-size: 1.5rem

  .visual
    padding: 0

    figure
      margin: 0

      img
        display: block
        margin: 0 auto

      figcaption
        display: block
        margin: 15px auto 0
        text-align: center
        font-size: 1rem
