/* GLOBALS */
*
  font-family: 'Acherus Grotesque'
  font-size: 1rem

body
  overflow-x: hidden

a
  color: $dark-color
  text-decoration: none

  &:hover,
  &:focus,
  &:visited
    color: $dark-color
    text-decoration: none

.icon
  display: block
  width: 26px
  height: 26px
  background-size: contain
  background-repeat: no-repeat

  +md
    width: 30px
    height: 30px

button,
.btn
  display: inline-block
  background-color: $accent-color
  color: $light-color
  padding: 6px 60px 10px
  border: none
  border-radius: 20px
  margin: 0 auto

/* TODO remove until header is done */
h1
  display: none
