/* HEADER */
header
  position: relative
  width: 100%
  height: 100vh
  overflow-x: hidden
  z-index: 4

  +md
    height: 100vh
    max-height: unset

  nav
    display: flex
    flex-direction: column
    justify-content: center
    gap: 45px
    height: 0
    background-color: $accent-color
    z-index: 4

    +md
      width: 100%
      position: fixed
      height: 100px
      background-color: $light-color

    &.visible
      position: fixed
      width: 100%
      height: 100vh
      top: 0
      justify-content: center
      align-items: center
      z-index: 5

    .toggler
      position: fixed
      width: 22px
      height: 15px
      top: 70px
      left: 50%
      transform: translateX(-50%)
      background-image: url(../../../src/assets/icons/icon-menu.svg)
      outline: 3px solid transparent
      cursor: pointer
      z-index: 4

      +md
        display: none

      &.clicked
        background-image: url(../../../src/assets/icons/icon-x.svg)
        width: 15px
        height: 22px

      &.scrolled
        background-color: $accent-color
        outline: 3px solid $accent-color
        left: calc(100% - 12px)
        transform: translateX(-100%)

    ul
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      gap: 45px
      padding-left: 0
      margin-bottom: 0

      +md
        flex-direction: row
        gap: 45px

      +lg
        gap: 60px

      li
        list-style: none

        a
          font-family: 'Recoleta'
          font-size: 1.8rem
          color: $light-color
          text-align: center

          +md
            font-size: 1.3rem
            color: $accent-color
            border-bottom: 1px solid $light-color

          +lg
            font-size: 1.5rem

          &:visited
            color: $light-color

            +md
              color: $accent-color

          &.active,
          &:hover,
          &:focus
            color: $light-color
            border-bottom: 1px solid $light-color

            +md
              color: $accent-color
              border-bottom: 1px solid $accent-color

  h1
    text-indent: 9999px
    background-image: url(../../../src/assets/icons/logo.svg)
    background-size: contain
    background-repeat: no-repeat
    display: block
    width: 260px
    height: 85px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 3

    +md
      width: 350px
      height: 200px

  .slider
    height: 100vh
    overflow: hidden
    z-index: 1

    +md
      height: calc(100vh - 100px)
      margin-top: 100px
      max-height: calc(100vh - 100px)

    .bxslider li::after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(0, 0, 0, .3)
      z-index: 1
